*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  line-height: 1.15;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p { margin: 0 0 1em; }

textarea { vertical-align: top; }

article,aside,footer,header,nav,section,figcaption,figure,main { display:block }

[tabindex="-1"]:focus {
  outline: 0 !important;
}

*    { font-size: 14rem; }
h1   { font-size: 26rem; }
h2   { font-size: 24rem; }
h3   { font-size: 22rem; }
h4   { font-size: 20rem; }
h5   { font-size: 18rem; }
h6   { font-size: 16rem; }

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }

table {
  border-collapse: collapse;
}

[hidden] {
  display: none !important;
}
